@media (min-width: 1800px)
{
    .container {
        margin-right:0
    }
}


* {
    box-sizing: border-box;
    
  }

.container{
    width: 100%;
    background-color: #212738;
    margin: 0 auto;
}


.App {
    background-color: #212738;
    padding-left: 28%;
    padding-right: 28%;
}

.buttonsMenu {
    text-align: center;
}

.buttonsMenu > button{
    text-align: center;
    min-width: 230px;
}